body{
	font-family: 'PT Sans', sans-serif;
	background-color:#F8F8F8;
}

.container{
	max-width: 1000px;
	max-height: 600px;
  	position: relative;
  	margin: auto;
}

.container h3{
	text-align:center;
}
